.grid-snap {
    object-fit: cover;

    font-size: 1.2em;
    border-color: black;
}

#salle {
    object-fit: cover;
    zoom: 50%;
}

.tables {
    zoom: 50%;
}

/*width 1005 ne marche pas a cause de la taille fixe des td*/
/*img {*/ 
    /*width: 100%;*/
/*}*/

#salle {
    zoom: 15%
}

.tables {
    zoom: 15%;
}

@media screen and (min-width: 690px) {
    #salle {
        zoom: 30%
    }

    .tables {
        zoom: 30%;
    }
}

@media screen and (min-width: 1252px) {
    #salle {
        zoom: 42%
    }

    .tables {
        zoom: 42%;
    }
}
