.grid-snap {
    height: 70px;
    width: 89px;

    background-image:url("table.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.2em;
    border-color: black;
    padding: 2%;
    margin: 5%;
}

#grid {
    background: url("./salleRelais.jpg");
    background-repeat: no-repeat;
    background-size: contain;;
    width: 908px;
    height: 510px;
    background-color: darkgrey;
}

